.common-extend
  display flex

.hot_search_item_bg2
  background var(--searchBg)

.color1
  color var(--color)

.c_txt1
  color var(--c_txt1)

input:focus
  outline-offset: -2px

.fixTop
  position fixed
  top 0
  left 0
  right 0
  z-index 100

.mb100
  margin-bottom 100px
