:root
  --theme #fafafa
  &.white
    --theme #fafafa
    --bg #fff
    --color #4a4a4a
    --theme_color #31c27c
    --c_txt1 rgba(26,26,26,1)
    --c_tet2 rgba(26,26,26,.5)
    --c_gray #ccc
  &.black
    --theme #000
    --bg #000
    --color #fff
    --theme_color #fff
    --c_txt1 #fff
    --c_tet2 #fff
    --c_gray #fff
