:root
  --theme #fafafa
  &.white
    --theme #fafafa
    --color_white #fff
    --color_black #000
    --bgborder #f2f2f2
    --bg_play_border #eee
    --searchBg #fff
    --playBg rgba(255, 255, 255, 0.99)
    --playlistBg rgba(255, 255, 255, 0.9)
    --searchcolor rgba(26,26,26,.5)
    --color #4a4a4a
    --theme_color #31c27c
    --c_txt1 rgba(26,26,26,1)
    --c_txt2 rgba(26,26,26,.5)
    --c_txt3 #4a4a4a
    --c_txt4 rgba(26,26,26,.2)
    --c_gray #ccc
    --bg_mask rgba(225, 225, 225, 0.6)
    --bg-linear-gradient-1 rgba(255,255,255,0)
    --bg-linear-gradient-2 rgba(255,255,255,1)
    --bg-linear-gradient-3 rgba(255, 255, 255, 0.99)
  &.black
    --theme #000
    --color_white #000
    --color_black #fff
    --bgborder #222
    --bg_play_border #222
    --searchBg #333
    --playBg rgba(27, 29, 29, 0.99)
    --playlistBg rgba(27, 29, 29, 0.95)
    --searchcolor #777
    --color #fff
    --theme_color #31c27c
    --c_txt1 #fff
    --c_txt2 hsla(0,0%,100%,0.6)
    --c_txt3 hsla(0,0%,100%,0.6)
    --c_txt4 hsla(0,0%,100%,0.6)
    --c_gray #fff
    --bg_mask rgba(0, 0, 0, 0.6)
    --bg-linear-gradient-1 rgba(0, 0, 0,0)
    --bg-linear-gradient-2 rgba(0, 0, 0,1)
    --bg-linear-gradient-3 rgba(27, 29, 29, 0.99)
