// 颜色定义规范


$color-dialog-background = #666
$color-theme = #31c27c
$color-theme-d = #f2f2f2
$color-sub-theme = #FF6666
$color-text = rgba(26,26,26,1)
$color-text-d = rgba(26,26,26,.5)
$color-text-t = #242424
$color-text-f = #fff


//字体定义规范
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-m = 15px
$font-size-large = 16px
$font-size-large-m = 18px

