// 颜色定义规范


$color-dialog-background = #666
$color-theme = #FF0000
$color-sub-theme = #FF6666
$color-text = rgba(26,26,26,1)
$color-text-t = #242424


//字体定义规范
$font-size-small = 12px
$font-size-medium = 14px
$font-size-large = 16px

